html,
body {
  padding: 20px 20px 60px;
  margin: 0;
  background-color: #0f1535;
  color: white;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: #e9ecef;
}